@media screen and (max-width: 768px) {
  body {
    background-size: 80%;
    background-position: ;
  }

  .main {
    right: 0;
    left: 0;
    background-size: cover;
    width: 100%;
  }

  h1 {
    font-size: 1.3em;
  }

  h4:nth-of-type(2) {
    display: block;
    line-height: 0.5em;
  }

  h3 {
    font-size: 0.7em;
    position: relative;
  }

  p {
    font-size: 1.5em;
  }

  .book {
  }
}
