@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Chewy';
  font-size: 10px;
  text-align: center;
}

body {
  background-image: url('./img/book-stationery.png');
  background-position: left center center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h3,
h4 {
  margin: 0.5em;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    2px 2px 0 white;
}

h1 {
  color: rgb(52 193 158);
  font-size: 2em;
  margin-top: 1em;
}

h1:nth-of-type(2) {
  color: #259e80;
  font-size: 1em;
  line-height: 1em;
}

h3 {
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  line-height: 2em;
}

h4:nth-of-type(2) {
  display: none;
}

p {
  font-size: 2em;
  padding: 0.5em;
  margin: 0.5em;
}

.main {
  position: relative;
  width: 50%;
  left: 50%;
  height: min-content;
}

header {
  font-size: 3rem;
  line-height: 1rem;
}

.spanish-books-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: calc(fit-content + 1em);
  padding: 0.2em 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.english-books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: fit-content;
  width: 100%;
  justify-items: center;
  padding: 0.2em 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 3em;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.book {
  transition: transform 0.2;
  display: inline-block;
  margin: 0.5em;
}

.book:hover {
  transform: scale(1.2);
}

.book img {
  width: 13em;
  display: block;
}

footer {
  width: 100vw;
  min-height: fit-content;
  position: relative;
  background-color: black;
  bottom: 0;
  color: white;
  border: solid 1px black;
}
